body
{
    background-color: black;
}



header
{
    display: flex;
    color: white;
    justify-content: space-between;
    
}



ul
{
    list-style: none;
}

li
{
    float: left;
}

li a
{
    display:block;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: red;

}




h1
{
    color: blue;
    font-size: 100px;
    padding-left: 150px;
    padding-top: 50px;
}
.text
{
    color: white;
    font-size: 30px;
    width: 45%;
    padding-left: 150px;
    padding-top: 100px;
    justify-content: space-between;
}

a:hover
{
    color: black;
}


.social-media
{
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding-top: 50px;
    gap: 1rem;
}

